<mat-grid-list class="container" [rowHeight]="50" cols="2">
  <mat-grid-tile [rowspan]="2" [colspan]="2">
    <div class="container-item-header container-item-header--texto">
      <h3>Gerenciar Ações Nacionais</h3>
    </div>
    <div class="container-item-header container-item-header--icones">
      <button (click)="inserirAcao()" mat-mini-fab>
        <fa-icon class="background--icones" [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="6" [colspan]="1">
    <app-pie-chart
      [listaDados]="listaDados"
      [listaDadosLegenda]="listaDadosLegenda"
      [listaDadosCor]="listaDadosCor"
      [legenda]="'RS #'"
      [titulo]="'Gráfico de valor total'"
      [id_]="'valorTotal'"
    ></app-pie-chart>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="6" [colspan]="1">
    <div class="legendas">
      <h1>Total de Papeis</h1>
      <h1>{{ consolidadoAcoes.patrimonio[0].value | currency: "BRL" }}</h1>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<app-tabela-acao [dataSource]="listaPapeis"></app-tabela-acao>
<app-grafico-acoes
  *ngIf="listaPapeis.length > 0"
  [listaGraficos]="consolidadoAcoes.grafico"
></app-grafico-acoes>
