<mat-grid-list class="container" [rowHeight]="50" cols="2">
    <mat-grid-tile [rowspan]="2" [colspan]="2">Selic</mat-grid-tile>
    <mat-grid-tile [rowspan]="6" [colspan]="1">
      <canvas id="pieChart"></canvas>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="6" [colspan]="1">
      <mat-list class="legendas">
        <mat-list-item>
          <h1>Total na Selic</h1>
        </mat-list-item>
        <mat-list-item>
          <h1>R$ 2.000.000</h1>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="3" [colspan]="1">
      <h3>Atual</h3>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="3" [colspan]="1">
      <h3>Desejavel</h3>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="3" [colspan]="1">
      <mat-list class="legendas">
        <mat-list-item> 68 % Acao </mat-list-item>
        <mat-list-item> 22 % FII </mat-list-item>
        <mat-list-item> 18 % Renda Fixa </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="3" [colspan]="1">
      <mat-list class="legendas">
        <mat-list-item> 68 % Acao </mat-list-item>
        <mat-list-item> 22 % FII </mat-list-item>
        <mat-list-item> 18 % Renda Fixa </mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
  