.container-buttons {
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  background-color: white;
  height: 88%;
  padding: 24px;
  box-shadow: black 0px 0px 5px inset;
}

h3 {
  margin: 0px;
}

.button {
  margin: 20px;
}

.input {
  width: 85%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
