.container-buttons {
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  height: 90%;
  padding: 13px;
}

.button {
  margin: 20px;
}

.input {
  width: 85%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
