.tabela {
  height: 100%;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.container {
  margin-top: 0px;
  margin-bottom: 10px;
}

.tabela-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  margin-bottom: 50px;
}

.td {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding-right: 17px;
  padding-left: 17px;
  font-weight: 700;
}

.container-buttons {
  display: flex;
}

.container-button {
  margin: 10px;
}

.--center {
  text-align: center;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}

.color-reference {
  width: 20px;
  height: 20px;
}

mat-panel-title {
  font-weight: 700;
}

th {
  font-weight: 700;
  font-family: cursive;
}

td {
  font-family: cursive;
}

::ng-deep .mat-expansion-indicator::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
  color: black !important;
}

mat-panel-title {
  font-family: 'Roboto', cursive;
}