<div class="container">
  <h3>Cadastrar ação</h3>
  <form [formGroup]="form" class="container-inputs">
    <p>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Cor de referência</mat-label>
        <input formControlName="papelCorDeReferencia" type="text" matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Ticket</mat-label>
        <input formControlName="ticket" type="text" matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Ação</mat-label>
        <input formControlName="nome" type="text" matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Valor Atual</mat-label>
        <input formControlName="valorAtual" currencyMask matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Valor Justo</mat-label>
        <input formControlName="valorJusto" currencyMask matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Qtn. Papeis</mat-label>
        <input
          formControlName="qntPapeis"
          min="0"
          max="999"
          type="number"
          matInput
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Margem de Qtn. Desejada</mat-label>
        <input
          formControlName="margemDeQtnDesejado"
          min="0"
          max="999"
          type="number"
          matInput
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="input" appearance="outline">
        <mat-label>Data de compra</mat-label>
        <input required  formControlName="dataCompra" type="date" matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Setor</mat-label>
        <mat-select formControlName="setor" >
          <mat-option value="option">Option 1</mat-option>
          <mat-option value="option">Option 2</mat-option>
          <mat-option value="option">Option 3</mat-option>
          <mat-option value="option">Option 4</mat-option>
          <mat-option value="option">Option 5</mat-option>
          <mat-option value="option">Option 6</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </form>
  <div class="container-buttons">
    <button
      class="button"
      mat-raised-button
      [disabled]="!form.valid"
      (click)="cadastrarAcao()"
      color="primary"
    >
      Cadastrar
    </button>
    <button class="button" (click)="onNoClick()" mat-raised-button color="warn">
      Cancelar
    </button>
  </div>
</div>
