.tabela {
  height: 100%;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.tabela-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  margin-bottom: 50px;
}

.td {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding-right: 17px;
  padding-left: 17px;
}

.container-buttons {
  display: flex;
}

.container-button {
  margin: 10px;
}

.--center {
  text-align: center;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}

.color-reference {
  width: 20px;
  height: 20px;
}